/*
  Do not use any @import statements in this file. 
  This file is preloaded as a constructed stylesheet where @import statements do not work.
*/
:host,
:root {
  /* Dropdown */
  --magical-dropdown-max-width: 300px;

  /* Right rail */
  --magical-right-rail-height: 720px;
  --magical-right-rail-width: 360px;
  --magical-right-rail-large-height: 720px;
  --magical-right-rail-large-width: 460px;
  --magical-right-rail-outer-padding: 24px;
  --magical-right-rail-footer-bottom-padding: 16px;
  --magical-right-rail-box-shadow-blur-radius: 16px;
  --magical-right-rail-transition-timing: .3s cubic-bezier(0.4, 0, 0.2, 1) 0s;

  /** Colors **/
  --magical-background-color: white;
  --magical-foreground-color: var(--magical-gray-80);

  /* Primary */
  --magical-primary-00: #EEF4FF;
  --magical-primary-10: #D2E1FF;
  --magical-primary-20: #ACC1FF;
  --magical-primary-40: #576BFF;
  --magical-primary-50: #2B37FF;
  --magical-primary-60: #0000FF;
  --magical-primary-70: #0004D3;
  --magical-primary-80: #00059A;
  --magical-primary-90: #000457;

  /* Secondary */
  --magical-secondary-00: var(--magical-green-00);
  --magical-secondary-10: var(--magical-green-10);
  --magical-secondary-20: #AFFBA3;
  --magical-secondary-30: #83F175;
  --magical-secondary-50: #2AC720;
  --magical-secondary-60: var(--magical-green-60);
  --magical-secondary-70: #008201;
  --magical-secondary-80: #005A04;

  /* Grays */
  --magical-gray-80: #222528;
  --magical-gray-70: #323539;
  --magical-gray-60: #4B5056;
  --magical-gray-50: #6F747C;
  --magical-gray-40: #969DA6;
  --magical-gray-30: #BBC2CB;
  --magical-gray-20: #D8DFE7;
  --magical-gray-10: #E9EEF4;
  --magical-gray-00: #F4F7FB;

  /* Greens */
  --magical-green-00: #F1FFEB;
  --magical-green-10: #D7FFCF;
  --magical-green-60: #06AA00;
  --magical-green-70: #008201;
  --magical-green-80: #005A04;

  /* Reds */
  --magical-red-00: #FFE7E7;
  --magical-red-10: #FFD1D1;
  --magical-red-20: #FFABAB;
  --magical-red-30: #FF7676;
  --magical-red-40: #FF3939;
  --magical-red-50: #FF0000;
  --magical-red-60: #CE0000;
  --magical-red-70: #9B0000;
  --magical-red-80: #680303;
  --magical-red-90: #360606;

  /* Orange */
  --magical-orange-00: #FDEAD9;
  --magical-orange-10: #FFE0B5;
  --magical-orange-20: #FFD382;
  --magical-orange-30: #FFC543;
  --magical-orange-40: #FFB800;
  --magical-orange-60: #B25900;
  --magical-orange-70: #883904;
  --magical-orange-80: #5F240A;

  /* Tag Colors */
  --magical-tag-red-purple: #F9DCF4;
  --magical-tag-purple: #EBE3FC;
  --magical-tag-gray: #E9EEF4;
  --magical-tag-blue: #D6EFFC;
  --magical-tag-teal: #CCF3E9;
  --magical-tag-green: #D9F5C8;
  --magical-tag-yellow: #F7F9B8;
  --magical-tag-orange: #FBEABC;
  --magical-tag-red-orange: #F9E3D7;
  --magical-tag-red: #F9DEE5;

  /* Text Sizes */
  --magical-font-size-xsmall: 12px;
  --magical-font-size-small: 14px;
  --magical-font-size-medium: 16px;
  --magical-font-size-large: 18px;

  --magical-font-size-heading-small: 20px;
  --magical-font-size-heading-medium: 24px;
  --magical-font-size-heading-large: 32px;
  --magical-font-size-heading-xlarge: 48px;

  /* Line Heights */
  --magical-line-height-xsmall: 16px;
  --magical-line-height-small: 20px;
  --magical-line-height-medium: 22px;
  --magical-line-height-large: 24px;

  --magical-line-height-heading-small: 24px;
  --magical-line-height-heading-medium: 28px;
  --magical-line-height-heading-large: 36px;
  --magical-line-height-heading-xlarge: 48px;

  /* Stack orders (z-indexes) */
  /* Search in panel needs z-index so avatar in shortcut list doesn't scroll on top */
  --magical-panel-search-zindex: 1;
  --magical-fab-zindex: 4;
  --magical-support-panel-zindex: 50;
  --magical-tooltip-zindex: var(--magical-max-zindex);
  --magical-dropdown-zindex: var(--magical-max-zindex);
  /* This should be 1 less than 1000 (or whatever the default for <Menu /> in Joy-UI ends up being) */
  --magical-right-rail-nav-bar-zindex: 999;
  /* See https://stackoverflow.com/a/491052 about why we set 2147483647 as the max number of z-index. */
  --magical-max-zindex: 2147483647;
  /* The m-button is temporary and should be just under the topmost UI like right rail. */
  --magical-m-button-zindex: 2147483646;

  /* Elevation */
  --box-shadow-elevation-1: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
